html {
    scroll-behavior: smooth;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    width: 85%;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.headerRight span {
    position: relative;
    top: 5px;
    user-select: none;
}
.headerLogo {
    background-image: url(images/tobiz_logo_def_black.png);
    width: 200px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    bottom: 10px;
    left: 5px;
}
nav a {
    margin: 0 5px;
    text-decoration: none;
    font-size: 17px;
    font-weight: lighter;
    color: black;
    text-transform: uppercase;
}
nav a:hover {
    text-decoration: underline;
}
a.navTel {
    font-weight: normal;
}
a.navTel:hover {
    text-decoration: none;
    color: gray;
}
.siteLanguage {
    margin-top: 15px;
    margin-left: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.siteLanguage p {
    font-weight: lighter;
    font-size: 14px;
}
.flagRus, .flagEn, .rusUpper, .enUpper {
    width: 28px;
    height: 28px;
    transition: opacity 250ms ease;
}
.flagRus {
    background-image: url(images/russia.svg);
}
.flagEn {
    background-image: url(images/united-kingdom.svg);
}
.rusUpper, .enUpper {
    z-index: 1;
    background-color: black;
    border-radius: 50%;
    opacity: 0%;
}
.rusUpper:hover, .enUpper:hover {
    opacity: 7%;
}
.flagRus:hover, .flagEn:hover {
    opacity: 70%;
}
#popUpForm {
    position: fixed;
    opacity: 0%;
}
#popUpForm:target {
    opacity: 100%;
    transition: 250ms ease;
}
#repairAnnouncement {
    background-image: url(images/fa9ead899dd722dcc759af3a94b82594.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 570px;
    width: 100%;
    margin-top: -35px;
}
.repairShade {
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
}
#repairAnnouncement h1, #repairAnnouncement h2, #repairAnnouncement p {
    opacity: 1;
    color: white;
    font-weight: normal;
    display: block;
    width: 40%;
    position: relative;
    left: 370px;
}
#repairAnnouncement h2, #repairAnnouncement p {
    font-weight: lighter;
    bottom: 30px;
}
#repairAnnouncement h1 {
    font-size: 54px;
    padding-top: 120px;
}
#repairAnnouncement h2 {
    font-size: 30px;
}
#repairAnnouncement p {
    font-size: 20px;
}
#repairAnnouncement a.popUpOpen {
    background-color: rgb(71, 90, 100);
    box-shadow: rgb(41 60 70) 0px 0.25em 0px 0.01em;
    font-size: 20px;
    padding: 12px 60px;
    margin-top: 30px;
    margin-left: 370px;
    color: white;
    text-decoration: none;
    font-weight: lighter;
    transition: 250ms ease;
}
#repairAnnouncement a.popUpOpen:hover {
    box-shadow: none;
    transition: 250ms ease;
}
#about, #advantages {
    background-image: url(images/natural-paper.png);
}
.aboutMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 800px;
}
.aboutImg {
    background-image: url(images/08171b8e9d26b33d7d814bdb250f92e5.jpg);
    width: 660px;
    height: 500px;
    margin-top: 120px;
}
.aboutDesc {
    width: 515px;
    height: 550px;
    background-color: #F2F2F2;
    margin-top: 70px;
}
.aboutDesc h2 {
    font-size: 28px;
    font-weight: normal;
    margin-top: 130px;
    margin-left: 50px;
}
.aboutDesc p {
    position: relative;
    top: 20px;
    font-size: 19px;
    font-weight: lighter;
    margin-left: 50px;
    text-align: left;
    width: 400px;
}
.aboutDesc a.popUpOpen {
    text-transform: uppercase;
    position: relative;
    top: 50px;
    left: 50px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: rgb(71, 90, 100);
    box-shadow: rgb(41 60 70) 0px 0.25em 0px 0.01em;
    padding: 10px 40px;
    transition: 250ms ease;
}
.aboutDesc a.popUpOpen:hover {
    box-shadow: none;
    transition: 250ms ease;
}
.aboutIcons {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutSVG {
    margin: 0 auto;
    width: 128px;
    height: 128px;
}
.aboutIco1 {
    background-image: url(images/corrector.svg);
}
.aboutIco2 {
    background-image: url(images/021-free.svg);
}
.aboutIco3 {
    background-image: url(images/coffee-cup.svg);
}
.aboutIco4 {
    background-image: url(images/dollar-bill.svg);
}
.aboutIconsBlock {
    width: 230px;
}
.aboutIconsBlock h2 {
    font-weight: lighter;
    text-align: center;
}
.aboutIconsBlock p {
    text-align: center;
    font-weight: lighter;
    font-size: 17px;
    line-height: 25px;
}
.advantagesShade {
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.05);
}
.advantagesContent {
    padding-top: 70px;
    padding-bottom: 70px;
}
.advantagesFirstTitle, .advantagesContent h1 {
    text-align: center;
    font-weight: 500;
    letter-spacing: 5px;
}
.advantagesFirstTitle {
    color: gray;
    font-size: 17px;
}
.advantagesContent h1 {
    font-size: 48px;
    margin-top: -15px;
}
.advantagesPlates {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.advantagesPlatesChild {
    background-color: white;
    padding: 25px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.advantagesPlatesChild:nth-child(2n) {
    margin-right: 0;
}
.advantagesPlatesChild h3 {
    font-size: 22px;
    font-weight: 400;
}
.advantagesPlatesChild p {
    width: 530px;
    color: #656565;
}
#workStages > h3, #workStages > h1 {
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
}
#workStages > h3 {
    color: #A9A9A9;
    margin-top: 70px;
}
#workStages > h1 {
    color: #444444;
    font-size: 48px;
    margin-top: -15px;
}
.stages {
    padding-bottom: 100px;
}
.stagesStep {
    display: flex;
    position: relative;
    left: 470px;
    top: 20px;
}
.stagesStep:not(:first-child) {
    margin-top: -80px;
}
.stagesStep h3 {
    font-size: 20px;
}
.stagesStep h2 {
    font-size: 26px;
    font-weight: lighter;
}
.stagesStep p {
    font-weight: lighter;
}
.stagesBetween {
    border: 12px solid black;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    top: 15px;
}
.stagesLine {
    content: normal;
    margin-left: 20px;
    border-left: 1px solid black;
    width: 0;
    height: 85px;
    margin-top: 5px;
    margin-bottom: 24px;
    position: relative;
    left: 568px;
    bottom: 28px;
}
#reward {
    background-color: rgba(0, 0, 0, 0.025);
}
#reward h3, #reward h1 {
    font-weight: 500;
    text-align: center;
}
#reward h3 {
    padding-top: 90px;
    color: #A9A9A9;
    letter-spacing: 5px;
}
#reward h1 {
    color: #444444;
    font-size: 48px;
    margin-top: -15px;
}
#reward p {
    position: relative;
    bottom: 10px;
    text-indent: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    width: 890px;
    font-weight: lighter;
}
.rewardPic {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 60px;
}
.rewardPic img {
    width: 300px;
    height: 300px;
    margin: 10px;
}
.programTitle h3, .programTitle h1 {
    text-align: center;
    margin-top: 120px;
    font-weight: 500;
}
.programTitle h3 {
    color: #A9A9A9;
    letter-spacing: 5px;
    font-size: 17px;
}
.programTitle h1 {
    color: #444444;
    font-size: 48px;
    margin-top: -15px;
}
.spoilerFamily {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.spoiler {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 7px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 60%;
    background-color: white;
    box-shadow: rgb(17 17 26 / 5%) 0 4px 16px, rgb(17 17 26 / 5%) 0 8px 32px;
    padding: 12px 40px 12px 25px;
}
details {
    width: 100%;
}
details summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
details[open] summary {
    list-style-type: none;
}
.spoilerTitle {
    font-weight: lighter;
    white-space: nowrap;
}
.spoilerImage {
    width: 400px;
    height: 300px;
    background-size: cover;
    border-radius: 7px;
}
.spoilerImage1 {
    background-image: url(c88733b80d093f37441b9b508b213759.jpg);
}
.spoilerContent {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    border-radius: 0 0 7px 7px;
    opacity: 0%;
    transition: opacity 1s ease 500ms;
}
.spoilerText {
    width: calc(100% - 440px);
}
.spoilerButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    transition: transform 250ms ease;
}
.spoilerButtonIco {
    position: relative;
    left: 7.5px;
}
details summary:hover {
    cursor: pointer;
}
details[open] summary .spoilerButton {
    transform: rotate(0.125turn);
}
details[open] .spoilerContent {
    opacity: 100%;
}
.spoilerImage1 {
    background-image: url(images/c88733b80d093f37441b9b508b213759.jpg);
}
.spoilerImage2 {
    background-image: url(images/8efc3cebeefc75bc05add0f837058167.jpeg);
}
.spoilerImage3 {
    background-image: url(images/44ca66b65f3811e460c305af32aef343.jpg);
}
.spoilerImage4 {
    background-image: url(images/3f19d943998fc619c905e4731ba484fd.jpg);
}
.spoilerImage5 {
    background-image: url(images/964680dcf83f104438cf9bb85186d6a4.jpg);
}
.spoilerImage6 {
    background-image: url(images/afa164b3e285d9f9b0a92aa1564fc1ac.jpg);
}
.spoilerText {
    width: calc(100% - 440px);
}
.spoilerText p, .spoilerText li {
    font-weight: lighter;
    font-size: 18px;
}
.programFormButtons {
    width: 60%;
    margin: 50px auto 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.programFormButtons a {
    text-decoration: none;
    border: 3px solid rgb(71, 90, 100);
    margin-left: 15px;
    transition: transform 250ms ease;
}
.programPopUpOpen1 {
    color: black;
    padding: 10px 80px;
    font-weight: lighter;
    font-size: 20px;
}
.programPopUpOpen2 {
    background-color: rgb(71, 90, 100);
    color: white;
    padding: 10px 130px;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 0;
}
.programPopUpOpen1:active {
    border-color: #656565;
    transform: scale(0.98);
    transition: transform 250ms ease;
}
.programPopUpOpen2:active {
    background-color: #656565;
    border-color: #656565;
    transform: scale(0.98);
    transition: transform 250ms ease;
}
#partners {
    background-image: url(images/fa71724ee29eec7c636edf6f8561444e.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}
.partnersShade {
    background: rgba(30, 30, 30, 0.85);
    width: 100%;
    height: 100%;
}
.partnersHead {
    color: white;
    text-align: center;
    position: relative;
    top: 185px;
}
.partnersTitle {
    font-size: 60px;
    font-weight: 400;
}
.partnersTitleLine {
    font-size: 24px;
    margin-top: -30px;
    font-weight: 500;
}
.partnersTitleMini {
    font-size: 32px;
    font-weight: 300;
    width: 55%;
    margin: 30px auto;
}
.partnersList {
    position: relative;
    top: 230px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 58%;
    height: 100px;
}
.partner {
    width: 150px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%) invert(100%);
    transition: filter 250ms ease;
}
.partner:hover {
    filter: grayscale(0%) invert(0%);
    transition: filter 250ms ease;
}
.fossilFree {
    background-image: url(images/logo_6.png);
}
.fpuu {
    background-image: url(images/logo_7.png);
}
.paypal {
    background-image: url(images/logo_8.png);
}
.smokeFree {
    background-image: url(images/logo_9.png);
    margin-top: -15px;
}
.texet {
    background-image: url(images/logo_10.png);
    margin-top: 15px;
}
#services > h1, #services > h2 {
    text-align: center;
}
#services > h1 {
    font-size: 48px;
    margin-top: 70px;
    font-weight: 500;
}
#services > h2 {
    font-size: 24px;
    font-weight: lighter;
    margin-top: -10px;
}
#services > h2 > span {
    font-weight: 500;
}
.servicesContent {
    width: 60%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.servicesForm {
    width: calc(36% - 60px);
}
.servicesWho {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.servicesWhoBlock h2, .servicesWhoBlock p {
    text-align: left;
    font-weight: lighter;
}
.servicesWhoBlock h2 {
    font-size: 22px;
}
.servicesWhoBlock p {
    font-size: 17px;
}
.servicesBlock1::before {
    content: url();
}